:root {
  --white: #ececec;
  --page-background-color: #1a1a1a;
  --active-content-color: rgba(30, 34, 42, 1);
  --accent-gold: #c1a04f;
  --layout-width: 65%;
}
html {
  background-color: #282c34;
  background-color: var(--page-background-color);
  /*margin: 36px 24px;*/
}
a {
  color: turquoise;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* justify-content: stretch; */
}
.chart-container {
  width: var(--layout-width);
}
.chart {
  width: 50%;
}
.json-metadata {
  width: 100%;
  filter: hue-rotate(10deg);
}
.axis line {
  stroke: var(--white);
}
.axis path {
  stroke: var(--white);
}
.axis text {
  fill: var(--white);
}
.tick line {
  stroke: var(--white);
}

.timestamp-slider {
  width: var(--layout-width);
  margin-left: 45px;
  /* filter: hue-rotate(-40deg) saturate(120%); */
}
.timestamp-slider::hover {
  cursor: pointer;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
}

.loading-screen > .logo-loader {
  position: relative;
  height: 200px;
  width: 200px;
}
.loading-screen > .logo-loader > img {
  width: 100%;
  height: 100%;
}
.loading-screen > .logo-loader .logo-loader-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
}
.logo-loader-overlay {
  background: repeating-linear-gradient(
    90deg,
    rgba(26, 26, 26, 0),
    rgba(26, 26, 26, 1) 200px,
    rgba(26, 26, 26, 1) 100px,
    rgba(26, 26, 26, 0)
  );
  background-size: 400px 400px;
  animation: GradientSwoosh 1s linear infinite;
}

@keyframes GradientSwoosh {
  0% {
    background-position: 150% 150%;
  }

  100% {
    background-position: -50% -50%;
  }
}
.App {
  text-align: center;
  background-color: #282c34;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tab-group {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.tab-group .tab {
  text-align: center;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 15px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.25s ease;
}

.tab:first-child {
  /* margin-left: 7px; */
}

.tab-group .tab:hover {
  opacity: 0.7;
  background-color: #1e222a60;
}
.tab-group .tab.active {
  background-color: var(--active-content-color);
  opacity: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #111317;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  text-align: left;
  padding-top: 36px;
}

.logo-container {
  height: 60px;
  margin-right: 0px;
}
@keyframes FadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo-container img {
  height: 100%;
  transition: all 1s ease;
}
.logo-container img.loading {
  animation: FadeInOut 1s ease-in-out 0s infinite alternate;
}

.select-container {
  width: 100%;
}

input[type='radio']:checked + span {
  font-weight: bold;
  border-bottom: 1px solid white;
  text-shadow: 2px 0px 5px rgba(212, 181, 83, 0.5);
}

.info-text {
  color: white;
}
.radios {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.radios label {
  cursor: pointer;
  margin-bottom: 8px;
}

input[type='radio'] + label,
input[type='radio'] + span {
  transition: font-weight 150ms ease-out;
}

input[type='radio']:checked + label {
  font-weight: bold;
  box-shadow: -5px 0px 2px rgba(212, 181, 83, 0.5);
}
.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 18px);
  padding: 9px;
  background-color: var(--active-content-color);
}

.address-container .dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: var(--page-background-color); */
  width: 90%;
  /* max-width: 480px; */
  font-weight: bold;
  color: #333333;
  background: transparent;
  color: #fafafa;
  /* cursor: pointer; */
  border: 2px solid var(--accent-gold);
  border-radius: 10px;
  box-sizing: content-box;
  outline: none !important;
  /* box-shadow: 2px 0px 5px rgba(212, 181, 83, 0.5); */
  text-shadow: 2px 0px 5px rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.dropdown-container input,
.dropdown-container select,
.dropdown-container button {
  border: none;
  border-width: 0;
  padding: 0px 10px;
  height: 34px;
  margin: 0;
  outline: none;
}
.dropdown-container select {
  width: 10%;
  padding-right: 10px;
  background-color: var(--accent-gold);
  cursor: pointer;
  color: white;
  font-weight: 800;
  font-family: monospace;
}
.dropdown-container option {
  color: black;
}
.dropdown-container input {
  width: 85%;
  /* width: calc(85% - 2px); */
  border-left: 2px solid var(--accent-gold);
  background: rgba(0, 0, 0, 0);
  color: white;
  /* display: block; */
}
.dropdown-container .clear-input-btn {
  height: auto;
  display: block;
  width: 5%;
  cursor: pointer;
  padding: 2px 4px;
  background-color: hsla(229, 50%, 90%, 0.4);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 6px;
  font-weight: 900;
  transition: all 240ms ease;
}
.dropdown-container .clear-input-btn:hover {
  opacity: 0.4;
}
.dropdown::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.content {
  text-align: left;
  padding: 36px 24px;
}

.timestamp-slider-description {
  text-align: center;
  width: 835px;
  color: var(--white);
  margin-bottom: 8px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
