html {
  background-color: #282c34;
  background-color: #1a1a1a;
  /*margin: 36px 24px;*/
}

:root {
  --white: #ececec;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.chart {
}
.json-metadata {
  width: 100%;
}
.axis line {
  stroke: var(--white);
}
.axis path {
  stroke: var(--white);
}
.axis text {
  fill: var(--white);
}
.tick line {
  stroke: var(--white);
}

.timestamp-slider {
  width: 770px;
  margin-left: 45px;
  filter: hue-rotate(-40deg) saturate(120%);
}
.timestamp-slider::hover {
  cursor: pointer;
}

.App {
  text-align: center;
  background-color: #282c34;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #040810;
  display: flex;
  flex-direction: row;
  color: var(--white);
  text-align: left;
  padding: 36px 24px;
}

.logo-container {
  margin-right: 24px;
}
.select-container {
}

input[type='radio']:checked + span {
  font-weight: bold;
  border-bottom: 1px solid white;
  text-shadow: 2px 0px 5px rgba(212, 181, 83, 0.5);
}
.radios {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.radios label {
  cursor: pointer;
  margin-bottom: 8px;
}

input[type='radio'] + label,
input[type='radio'] + span {
  transition: font-weight 150ms ease-out;
}

input[type='radio']:checked + label {
  font-weight: bold;
  box-shadow: -5px 0px 2px rgba(212, 181, 83, 0.5);
}
.address-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.dropdown-container {
  margin-top: 8px;
  max-width: 480px;
  padding: 8px 10px;
  font-weight: bold;
  color: #333333;
  background: transparent;
  color: #fafafa;
  cursor: pointer;
  border: 2.5px solid #c1a04f;
  border-radius: 20px;
  box-sizing: content-box;
  outline: none !important;
  text-shadow: 2px 0px 5px rgba(212, 181, 83, 0.5);
}

.content {
  text-align: left;
  padding: 36px 24px;
}

.timestamp-slider-description {
  text-align: center;
  width: 835px;
  color: var(--white);
  margin-bottom: 8px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
