node_modules
.elasticbeanstalk/
env.sh
.env
.vercel

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.vscode
rust
.DS_Store
*.log
js/server/cache/*
*.cpuprofile
DATABASE_URL
